<template>
    <div class="page">
  
      <div class="navbar">
        <div class="navbar-inner">
          <div class="left">
            {{#js_if "app.data.config.navigation.reportOnly"}}
              <div class="title">
                <img class="ios-only theme-light-only" src="assets/custom/img/logo-text-black.svg" alt="" />
                <img class="ios-only theme-dark-only" src="assets/custom/img/logo-text-color.svg" alt="" />
                <img class="md-only" src="assets/custom/img/logo-text-color.svg" alt="" />
              </div>
            {{else}}
              <a href="#" class="link back">
                <i class="icon icon-back"></i>
                <span class="ios-only" data-i18n="back">Back</span>
              </a>
            {{/js_if}}
          </div>
          <div class="title md-only">Heart Water</div>
          <div class="subnavbar ios-only">
            <div class="subnavbar-inner">
              <div class="title">Heart Water</div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="toolbar tabbar tabbar-scrollable tabbar-sticky">
        <div class="toolbar-inner">
          <a href="#tab-overview" class="tab-link tab-link-active" data-i18n="water-report">Water Report</a>
          <a href="#tab-charity" class="tab-link">Charity</a>
          <a href="#tab-faq" class="tab-link">FAQ</a>
        </div>
      </div>

      <!-- <div class="block margin-vertical">
        <div class="event-title">Heart Water - Half Liter Bottle</div>
      </div> -->

      <div class="tabs">
        <div id="tab-overview" class="page-content tab tab-active">
          <div class="event-header" style="background-image: url('assets/custom/img/water-report/woman-at-a-water-well-africa-adjusted.jpg');">
            <div class="note note-info transparent">
              <p class="larger">
                By purchasing this bottle of Heart Water you contributed $1 towards our $10,000 goal for the Bridge Water Project in Kenya.
              </p>
            </div>
          </div>

          <div class="card">
            <div class="card-header justify-content-space-between">
              <span>Help us reach our goal!</span>
              <a href="https://applepaydemo.apple.com/" class="button button-fill button-small bg-color-orange-4 external">Donate Now</a>
            </div>
            <div class="card-content card-content-padding text-align-center">
              <div class="gauge gauge-semicircle"></div>
              <!-- <div class="progressbar progressbar-determinate-inline" data-progress="75"></div> -->
              <p>
                Continue your support by making a donation, sponsoring a water project, or becoming a member.
              </p>
            </div>
            <div class="card-footer">
                <span>This charitiable initiative is by The Water Project</span>
              <a class="show-charity-tab tab-link button button-fill button-small bg-color-blue-4">Learn More</a>
            </div>
          </div>
          <div class="list no-hairlines-between margin-vertical no-top-margin">
            <div class="block-title">Water Traceability</div>
            <ul>
              <li class="list-group-title">Scanned on August 1, 2019</li>
              <li>
                <div class="item-content">
                  <div class="item-media">
                    <i class="fa-stack">
                      <span class="fas fa-square fa-stack-2x color-cyan-5 ios-only"></span>
                      <span class="fas fa-circle fa-stack-2x color-cyan-5 md-only"></span>
                      <span class="far fa-calendar-alt fa-stack-1x fa-inverse"></span>
                    </i>
                  </div>
                  <div class="item-inner">
                    <div class="item-title">
                      <div class="item-header">Rainfall Collected:</div>
                      <div class="item-footer">Friday, July 19, 2019 — Sunday, July 21, 2019</div>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="item-content">
                  <div class="item-media">
                    <i class="fa-stack">
                      <span class="fas fa-square fa-stack-2x color-lime-5 ios-only"></span>
                      <span class="fas fa-circle fa-stack-2x color-lime-5 md-only"></span>
                      <span class="far fa-clock fa-stack-1x fa-inverse"></span>
                    </i>
                  </div>
                  <div class="item-inner">
                    <div class="item-title">
                      <div class="item-header">Water Processed:</div>
                      <div class="item-footer">Monday, July 22, 2019</div>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="item-content">
                  <div class="item-media">
                    <i class="fa-stack">
                      <span class="fas fa-square fa-stack-2x color-yellow-5 ios-only"></span>
                      <span class="fas fa-circle fa-stack-2x color-yellow-5 md-only"></span>
                      <span class="fas fa-map-marker-alt fa-stack-1x fa-inverse"></span>
                    </i>
                  </div>
                  <div class="item-inner">
                    <div class="item-title">
                      <div class="item-header">Location:</div>
                      <div class="item-footer">5588 Austin Way, TX</div>
                    </div>
                    <div class="item-after">
                      <a href="https://maps.google.com/?q=32.9055754,-95.9612998" target="_blank" class="external">View Map</a>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="item-content">
                  <div class="item-media">
                    <i class="fa-stack">
                      <span class="fas fa-square fa-stack-2x color-red-5 ios-only"></span>
                      <span class="fas fa-circle fa-stack-2x color-red-5 md-only"></span>
                      <span class="fas fa-globe fa-stack-1x fa-inverse"></span>
                    </i>
                  </div>
                  <div class="item-inner">
                    <div class="item-title">
                      <div class="item-header">Sky Springs Website:</div>
                      <div class="item-footer">http://skyspringsrain.com</div>
                    </div>
                    <div class="item-after">
                      <a href="http://skyspringsrain.com" target="_blank" class="external">Visit</a>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="block-title">Water Treatments</div>
          <div class="data-table card">
            <table>
              <tbody>
                <tr>
                  <td class="label-cell">Ozone</td>
                  <td class="numeric-cell">2ppm</td>
                </tr>
                <tr>
                  <td class="label-cell">Light Filter</td>
                  <td class="numeric-cell">12%</td>
                </tr>
                <tr>
                  <td class="label-cell">Coarse Filter</td>
                  <td class="numeric-cell">17%</td>
                </tr>
                <tr>
                  <td class="label-cell">H2O</td>
                  <td class="numeric-cell">99.91%</td>
                </tr>
                <tr>
                  <td class="label-cell">CO2</td>
                  <td class="numeric-cell">0.03%</td>
                </tr>
                <tr>
                  <td class="label-cell">Si</td>
                  <td class="numeric-cell">0.01%</td>
                </tr>
                <tr>
                  <td class="label-cell">Fe</td>
                  <td class="numeric-cell">0.03%</td>
                </tr>
                <tr>
                  <td class="label-cell">Ca</td>
                  <td class="numeric-cell">0.02%</td>
                </tr>
                <tr>
                  <td class="label-cell">CIL</td>
                  <td class="numeric-cell">0.03%</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="block-title">Water Quality Technician</div>
          <div class="block">
            <p>
                The Production Quality Manager overseeing the production of this water was Michael Smith. Michael has been a technician with
                Sky Springs since 2011.
            </p>
            <img class="img-responsive rounded" src="assets/custom/img/water-report/technician.png" alt="" />
          </div>
          <div class="block-title">Water Collection Photos</div>
          <div class="block">
            <div class="photo-gallery">
              <div class="swiper-container">
                <div class="swiper-wrapper">
                  {{#each photos}}
                  <div class="swiper-slide">
                    <div class="slide-media">
                      <img class="img-responsive" src="{{this.url}}" alt="" />
                    </div>
                  </div>
                  {{/each}}
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="tab-charity" class="page-content tab">

          <div class="block-title margin-vertical">
            <img class="img-responsive" src="assets/custom/img/water-report/twp-resp-logo.png" alt="" />
            Your purchase helps support <a href="https://thewaterproject.org" target="_blank">The Water Project</a>
          </div>
          <div class="list cards-list">
            <div class="list-group">
              <ul>
                <li class="list-group-title">Thank You!</li>
                <li class="note note-info">
                  <p>
                    By purchasing this bottle of Heart Water you contributed $1 towards our $10,000 goal for the Bridge Water Project in Kenya.
                  </p>
                </li>

                <li class="list-group-title">DIGGING WELLS IN AFRICA</li>
                <li class="card">
                  <div class="card-header justify-content-space-between">
                    <span>How The Water Project provides safe water</span>
                  </div>
                  <div class="card-content card-content-padding clearfix">
                    <img class="img-responsive" src="assets/custom/img/water-report/hand_dug.jpg" alt="" />
                    <p>
                      It's hard to believe that more often than not, the clean water a developing community desperately needs is right underneath them. And it's amazing how a relativly small investment to get to it can make such a dramatic difference in so many lives. That's why we fund these well projects!
                    </p>
                  </div>
                  <div class="card-footer">
                    <p>
                      For an in-depth look at their process, and how they work, read more about <a href="https://thewaterproject.org/how-we-work" target="_blank">The Water Project Process</a>.
                    </p>
                  </div>
                </li>
                <li class="list-group-title">HOW MUCH DOES A WELL COST?</li>
                <li class="note note-info">
                  <p>
                    It's a difficult question to answer because Africa is a continent with wildly diverse geology and the water wells needed in each come in many varieties.
                    There are lots of ways to drill them and one size simply doesn't fit all. Let's take a look at some common projects to learn more abuot the challenges and costs involved.
                  </p>
                </li>
                <li class="card">
                  <div class="card-header justify-content-space-between">
                    <span>Hand Dug and Dangerous</span>
                  </div>
                  <div class="card-content card-content-padding clearfix">
                    <img class="img-responsive" src="assets/custom/img/water-report/well_pump_install.jpg" alt="" />
                    <p>
                      The simplest wells have traditionally been hand dug. That's right...by hand. They can be fifty or more feet deep and are used when ground water is generally abundant. These wells are extremely dangerous to build and have cost many lives of unskilled laborers. They are also often left uncovered and easily contaminated. They aren't always an ideal solution, but when properly installed they can be quite effective.
                    </p>
                    <p>
                      We work to ensure our partners have the right tools for the job. We want the work to be done safely for both the workers and the people who will benefit from the new source of water.
                    </p>
                  </div>
                </li>
                <li class="card">
                  <div class="card-header justify-content-space-between">
                    <span>Shallow Wells - Low Cost, Clean Water</span>
                  </div>
                  <div class="card-content card-content-padding clearfix">
                    <img class="img-responsive" src="assets/custom/img/water-report/finished_well.jpg" alt="" />
                    <p>
                      An example of one of our project sites is in Western Kenya, where we fund a young NGO known as The Bridge Water Project. Many of the drillers on this team have had experience deep in a hang dug wells.
                    </p>
                    <p>
                      Today however, they are working with new, small rigs provided by donors. These simple machines can dig to about 150-200 feet. The rigs are very cost effective and in this region of Kenya do a good job. They can be moved with ease and allow work to happen quickly.
                    </p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div id="tab-faq" class="page-content tab">
          <div class="list accordion-list inset no-hairlines no-hairlines-between margin-vertical">
            <ul>
              {{#each faq}}
              <li class="accordion-item">
                <a href="#" class="item-link">
                  <div class="item-content">
                    <div class="item-inner">
                      <div class="item-title">{{this.question}}</div>
                    </div>
                  </div>
                </a>
                <div class="accordion-item-content">
                  <div class="block">
                    <p>{{this.answer}}</p>
                  </div>
                </div>
              </li>
              {{/each}}
            </ul>
          </div>
        </div>

      </div>

    </div>
  </template>
  
  <style scoped>
    .event-header {
      align-items: center;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      box-sizing: border-box;
      color: #FFFFFF;
      display: flex;
      flex-direction: column;
      height: 42vh;
      justify-content: flex-end;
      padding: 16px;
      text-align: center;
      width: 100%;
    }
  
    .event-header .badge {
      align-self: flex-start;
      border-radius: 0;
      font-size: 16px;
    }
  
    .event-title {
      font-size: 20px;
      font-weight: bold;
    }

    .card .card-content img {
      margin-left: 10px;
      width: 200px;
      border: 1px solid #ccc;
      border-radius: 5px;
      float: right;
    }

    img + p {
      margin-top: 0;
    }
  </style>
  
  <script>
    return {
      data: function() {
        return {
          photos: [
            {
              url: 'assets/custom/img/water-report/StormOverColorado.jpg',
              caption: 'July 21, 2019'
            },
            {
              url: 'assets/custom/img/water-report/texas-rain.jpg',
              caption: 'July 19, 2019'
            },
            {
              url: 'assets/custom/img/water-report/texas-rain2.jpg',
              caption: 'July 20, 2019'
            },
            {
              url: 'assets/custom/img/water-report/cartographic.png',
              caption: 'Cartopgraphic of Texas rainfall'
            }
          ],
          faq: [
            {
              "question": "What is Heart Water?",
              "answer": "Lorem Ipsum is simply a dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book."
            },
            {
              "question": "Where do charitable proceeds go?",
              "answer": "Lorem Ipsum has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. It comes from sections 1.10.32 and 1.10.33 of \"de Finibus Bonorum et Malorum\" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance."
            },
            {
              "question": "What's different about Heart Water?",
              "answer": "It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English."
            },
            {
              "question": "How can I make more of a difference?",
              "answer": "There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable."
            }
          ]
        }
      },
      methods: {
        initializePhotoSlider: function() {
          var self = this;
          app.swiper.create('.photo-gallery .swiper-container', {
            centeredSlides: true,
            grabCursor: true,
            initialSlide: 1,
            loop: true,
            slidesPerView: 2,
            spaceBetween: 16
          });
          self.$('.photo-gallery .slide-media img').on('click', function() {
            var currentSlide = self.$('.photo-gallery .slide-media img').parent().parent('.swiper-slide-active').data('swiper-slide-index');
            console.log('currentSlide', currentSlide)
            var photoBrowser = app.photoBrowser.create({
              photos: self.photos,
              swiper: {
                initialSlide: currentSlide
              },
              theme: app.utils.theme.getLayout()
            });
            photoBrowser.open();
          });
        },
        initializeGaugeSemicircle: function() {
          var self = this;
          var gauge = app.gauge.create({
            el: '.gauge-semicircle',
            type: 'semicircle',
            value: 0.75,
            borderBgColor: '#FFF5F5',
            borderColor: '#FF8787',
            borderWidth: 12,
            valueText: '$7,813',
            valueTextColor: '#FF8787',
            labelText: 'of $10,000'
          });
        },
        charityTabListener: function() {
          var self = this;
          self.$('.show-charity-tab').on('click', function() {
            app.tab.show('#tab-charity');
            $('.page-content').scrollTop(0);
          });
        }
      },
      on: {
        pageInit: function() {
          var self = this;
          self.initializePhotoSlider();
          self.initializeGaugeSemicircle();
          self.charityTabListener();
        }
      }
    }
  </script>