.navbar {
  background-color: #000 !important;

  .title {
    img {
      height: 40px !important;
      margin-top: 4px;
    }
  }
}

.dialog-buttons {
  .dialog-button {
    text-align: center !important;;
  }
}

.page-content {
  .block {
    .app-logo {
      margin-bottom: 20px;
    }
  }
}

.block-title {
  img {
    margin-bottom: 10px;
  }
}

.swiper-slide {
  .slide-media {
    max-height: 250px;
    overflow: hidden;
  }
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.md, .ios {
  .no-top-margin {
    margin-top: 0 !important;
  }
}
