.navbar {
  background-color: #000 !important;

  .title {
    img {
      height: 40px !important;
      margin-top: 4px;
    }
  }
}

.dialog-buttons {
  .dialog-button {
    text-align: center !important;;
  }
}

.page-content {
  .block {
    .app-logo {
      margin-bottom: 20px;
    }
  }
}