.larger {
  font-size: 1.1em;
}

.navbar {
  background-color: #000 !important;

  .title {
    img {
      height: 40px !important;
      margin-top: 4px;
    }
  }
}

.dialog-buttons {
  .dialog-button {
    text-align: center !important;;
  }
}

.page-content {
  .block {
    .app-logo {
      margin-bottom: 20px;
    }
  }
}

.block-title {
  img {
    margin-bottom: 10px;
  }
}

.swiper-slide {
  .slide-media {
    max-height: 200px;
    overflow: hidden;
  }
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.md, .ios {
  .no-top-margin {
    margin-top: 0 !important;
  }
}

.note.note-success.transparent {
  background-color: rgba(124,210,143,.7) !important;
  color: #444 !important;
}

.note.note-info.transparent {
  background-color: rgba(166,216,224,.7) !important;
  color: #444 !important;
}

.event-header {
  justify-content: flex-start !important;
}

.img-responsive {
  &.rounded {
    border-radius: 5px;
    border: 1px solid #ccc;
  }
}

.md .navbar + .toolbar:not(.toolbar-bottom-md):not(.messagebar)~* .page-content,
.md .navbar + .toolbar:not(.toolbar-bottom-md):not(.messagebar)~.page-content {
  padding-top: 48px;
}

